In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

In [ ]:
cwd=os.getcwd()
df=pd.read_csv(cwd+'/BA_reviews.csv',index_col=0)

In [ ]:
df.head()

,review,stars,date,country
0,✅ Trip Verified | Although we had mobile boa...,5,26th July 2025,(United States)
1,✅ Trip Verified | Booking through the Britis...,9,25th July 2025,(United Kingdom)
2,✅ Trip Verified | Abysmal experience with fli...,2,23rd July 2025,(United Kingdom)
3,✅ Trip Verified | Check in at Miami was quick...,4,22nd July 2025,(United Kingdom)
4,✅ Trip Verified | Our BA Airbus 380 premium e...,6,17th July 2025,(United States)

In [ ]:
df['verified']=df.review.str.contains('Trip Verified')

In [ ]:
df['verified']

0        True
1        True
2        True
3        True
4        True
        ...
3895     True
3896    False
3897    False
3898    False
3899    False
Name: verified, Length: 3900, dtype: bool

In [ ]:
df['verified'].value_counts()

verified
True     2925
False     975
Name: count, dtype: int64

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma= WordNetLemmatizer()

review_data=df.review.str.strip("✅ Trip Verified |")
corpus=[]
for rev in review_data:
  rev=re.sub('[^a-zA-Z]',' ',rev)
  rev=rev.lower()
  rev=rev.split()
  rev=[lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
  rev=' '.join(rev)
  corpus.append(rev)

In [ ]:
df['corpus']=corpus

In [ ]:
len(df['corpus'])

3900

In [ ]:
df.dtypes

review      object
stars        int64
date        object
country     object
verified      bool
corpus      object
dtype: object

In [ ]:
df['date']=df['date'].str.replace(r'(st|nd|th|rd)',"",regex=True)
df['date']=pd.to_datetime(df['date'],format="%d %B %Y" ,errors='coerce')
df['date'].head()

0   2025-07-26
1   2025-07-25
2   2025-07-23
3   2025-07-22
4   2025-07-17
Name: date, dtype: datetime64[ns]

In [ ]:
df.head()

,review,stars,date,country,verified,corpus
0,✅ Trip Verified | Although we had mobile boa...,5,2025-07-26,(United States),True,although mobile boarding pass checked luggage ...
1,✅ Trip Verified | Booking through the Britis...,9,2025-07-25,(United Kingdom),True,booking british airway website straightforward...
2,✅ Trip Verified | Abysmal experience with fli...,2,2025-07-23,(United Kingdom),True,abysmal experience flight initially delayed ca...
3,✅ Trip Verified | Check in at Miami was quick...,4,2025-07-22,(United Kingdom),True,check miami quick easy american airline lounge...
4,✅ Trip Verified | Our BA Airbus 380 premium e...,6,2025-07-17,(United States),True,ba airbus premium economy section outdated loo...

In [ ]:
df.stars.unique()

array([ 5,  9,  2,  4,  6,  7,  1,  8,  3, 10])

In [ ]:
df.stars.value_counts()

stars
1     1521
9      429
3      312
5      273
7      273
8      273
4      234
6      234
2      195
10     156
Name: count, dtype: int64

In [ ]:
df.date.isnull().value_counts()

date
False    3900
Name: count, dtype: int64

In [ ]:
df.to_csv(cwd+"/cleaned-BA-reviews2.csv",encoding='utf-8')